.card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fdfcdc;
  overflow: hidden;
  border: 3px solid black;
}
