.MakeRoom {
  display: flex;
  align-items: center;
  padding: 15px;
  height: 500px;
  
}

.CardBody {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
}

.Radio {
  margin: 0px 5px 0px 5px;
}