.screen {
  height: 100%;
  /* padding-left: 20px;
  padding-right: 20px; */
}

#screen-div {
  position: relative;
}

.setting_box {
  padding-left: 2rem;
}

.bounds {
  border-radius: 15px;
}

.mafiaButtons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-self: end;
  gap: 1rem;
}

.property {
  opacity: 0;
}

.mafiaEventBtn {
  all : unset;
}

.mafiaEventBtn:hover {
  transform: scale(1.5);
}

.usedEventBtn {
  all : unset;
  opacity: 0.5;
}

.usedEventBtn:hover {
  cursor: not-allowed;
}

.ingame_picked_user {
  background-color: #494949;
  overflow: hidden;
  min-width: 200px !important;
  width: 200px !important;
  position: relative !important;
  bottom: 0;
  height: 20vh;
  width: auto;
  padding: 0;
  /* margin: 20px; */
  border-style: groove;
  border-color: #FA8072;
  border-width: 5px;
  border-radius: 10px;
}

.reporter-skill-button {
  font-family: "GmarketSansBold";
  display: inline-block;
  flex-direction: row;
  justify-items: end;
  border-radius: 15px;
  color : white;
  text-shadow: -2px -1px black, 1px 2px black, 1px 2px black, -1px -2px black;
  /* text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black; */
  /* background-color: #FF7F50; */
  text-align: center;
  margin-bottom: -1rem;
  padding: 0.5rem;
}

.night-result {
  margin: 5rem auto;
  width: 500px;
  height: auto;
  font-family: "GmarketSansMedium";
  font-size: 24px;
  text-align: center;
}

.day-to-night-sky {
  margin: auto;

}

.report-result {
  margin: 3rem auto;
  width: 500px;
  font-family: "GmarketSansMedium";
  font-size: 24px;
  text-align: center;
}

.pick-for-vote {
  cursor: pointer;
}