.MainBody {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* .MakeRoom {
  width: 50%;
  background-color: aqua;
} */

.SearchBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 5px;
}

.Left {
  width: 20%;
}

.Right {
  width: 70%;
}

.MainFooter {
  display: flex;
  justify-content: center;
}

.MainWebcam {
  text-align: end;
  margin-top: 10px;
}

.QuickStart {
  width: 150px;
  height: auto;
}

.MyInfo {
  text-align: end;
  margin-top: 20px;
}

.Input {
  width: 80%;  
}