.MainBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.main-page__searchbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px;
}

.main-page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-page__main {
  display: flex;
  margin-top: 5vh;
  align-items: center;
  justify-content: space-between;
}

.MainFooter {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.MainWebcam {
  text-align: end;
  margin-top: 10px;
}

.main-page__quickstart {
  width: 15vw;
  height: 8vh;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: #f4d35e;
  border-radius: 5px;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: bold;
}

.main-page__user-info {
  text-align: end;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.main-page__searchbar-input {
  width: 18vw;
  height: 5vh;
  border-radius: 3px;
}

.search__btn {
  text-align: center;
  width: 7vw;
  height: 5vh;
  border-radius: 5px;
  margin-top: 0;
  background-color: #f4d35e;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}