.crown {
    color :gold;
}

.copyright {
    font-size: xx-small;
} 

#group_octopus {
    display: flex;

}

.octopus {
    width : 80px;
    height : auto;
}

.nameBox {
    display : flex;
    flex-direction: row;
    /* justify-content: center; */
    width : auto;
    gap : 0.5rem;
}

.nameTag {
    white-space: nowrap;
}

#num_zero {
    margin-top : 2rem;
    margin-bottom: 4rem;
    margin-right: 1rem;
    margin-left: 1rem;
    animation: motion 0.3s linear 0s infinite alternate; 
    margin-top: 0;
}

#num_one {
    margin-top : 2rem;
    margin-bottom: 4rem;
    margin-right: 1rem;
    margin-left: 1rem;
    animation: motion 0.3s linear 0s infinite alternate; 
    margin-top: 0;
}

#num_two {
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    animation: motion 0.3s linear 0s infinite alternate; 
    margin-top: 0;
}

#num_thr {
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    animation: motion 0.3s linear 0s infinite alternate; 
    margin-top: 0;
}

#num_four {
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    animation: motion 0.3s linear 0s infinite alternate; 
    margin-top: 0;
}

#num_five {
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    animation: motion 0.3s linear 0s infinite alternate; 
    margin-top: 0;
}

#num_six {
    margin-top : 2rem;
    margin-bottom: 4rem;
    margin-right: 1rem;
    margin-left: 1rem;
    animation: motion 0.3s linear 0s infinite alternate; 
    margin-top: 0;
}

#num_svn {
    margin-top : 2rem;
    margin-bottom: 4rem;
    margin-right: 1rem;
    margin-left: 1rem;
    animation: motion 0.3s linear 0s infinite alternate; 
    margin-top: 0;
}

@keyframes motion {
	/* 0% {margin-top: 0px;}
	100% {margin-top: 10px;} */
    /* 0% { top: 0; }
    25% { top: -10px; transform: scale(1.1); }
    40% { top: 0; transform: scale(1); }
    100% { top: 0; } */
    from {
        transform : translateY(0px)
    }
    to {
        transform: translateY(10px);
    }
}