.ShowRoom {
  font-family: BMJUA;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-direction: column;
  padding: 15px;
  width: 300px;
  height: 300px;
  margin: 0 2rem 1rem 3rem;
  border-radius: 10px;
  background-color: #00afb9;
  cursor: default;
}

.ShowCardHeader {
  /* margin-bottom: 5px; */
  margin-top: 5px;
}

.CardBody {
  font-family: "GmarketSansMedium";
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
}

.ShowInfo {
  margin-bottom: 5px;
}
