.waiting_box {
    display : flex;
    flex-direction: column;
    align-items: center;
}

.waiting_upper {
    display : block;
    height : 50vh;
    width : 50%;
    border : 1px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #f4d35e;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.waiting_lower {
    display : flex;
    flex-direction: row;
    height : 40vh;
    width : 100%;
    border : 1px;
    bottom : 0px;
}

.testing_block {
    height : 60vh;
    border : 5px;
    padding : 30px;
    text-align: center;
}

.room_box {
    margin : 2rem;

}

.start_btn {
    display : inline-block;
    margin : 2rem;
    border : solid black 5px;

}

.cam {
    margin : 2rem;
}

.chat_box {
    margin : 1rem;
}


