.landing-page__btndiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
}

.landing-page__btn {
  width: 40vh;
  height: 6vh;
  margin: 2vh;
  border-radius: 5px;
  background-color: #fdfcdc;
  font-family: BMJUA;
  font-size: 25px;
  letter-spacing: 3px;
  text-decoration: none;
  display: inline-block;
  border: 3px solid rgba(0, 0, 0);
  border-bottom: 3px solid rgba(0, 0, 0);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.landing-page__btn:hover {
  width: 40vh;
  height: 6vh;
  margin: 2vh;
  border-radius: 5px;
  background-color: #fdfcdc;
  font-family: BMJUA;
  font-size: 25px;
  letter-spacing: 3px;
  text-decoration: none;
  display: inline-block;
  border: 3px solid rgba(0, 0, 0, 0.21);
  border-bottom: 4px solid rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.landing-page__modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

/* .login-modal {
  text-align: center;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
  outline: 0;
  height: 100px;
  font-weight: 100px;
} */
