.hover-card {
  position: absolute;
  top: 30px;
  right: 20vw;
}

.hover-card__job-img:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.hover-card:hover .job-cards {
  display: block;
  width: 250px;
  height: auto;
  border-style: groove;
  border-radius: 30px;
  border-color: black;
  border-width: 5px;
}

.hover-card .job-cards {
  display: none;
  position: absolute;
  right: 10px;
  cursor: default;
}
