/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1d22;
  color: rgba(255, 255, 255, 0.6);
} */

.moon-page {
  position: absolute;
  top: 100px;
  left: 35%;
}

.wrap-moon {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 맨 밑의 웨이브 */
.circle-moon {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border: 7px solid #464343;
  border-radius: 100%;
  background: #b0c4de;
  transform: translate3d(0, 0, 0);
}

/* 밑에서 두 번째 웨이브 */
.wave-one-moon {
  width: 600px;
  height: 600px;
  position: absolute;
  top: -65%;
  left: -30%;
  border-radius: 45%;
  background: #6495ed;
  animation: move 3s infinite linear;
}

.wave-two-moon {
  width: 650px;
  height: 650px;
  position: absolute;
  top: -90%;
  left: -30%;
  border-radius: 45%;
  background: rgba(34, 79, 242, 0.8);
  background: linear-gradient(#403f95, #191970);
  animation: move 5s infinite linear;
}

@keyframes move {
  100% {
    transform: rotate(360deg);
  }
}

/* moon css & animation */
.fa-moon {
  position: absolute;
  top: 19%;
  left: 33%;
  font-size: 130px;
  color: rgba(255, 255, 255, 0.8);
  animation: moon-rotation 4s infinite linear;
}

.blur-moon {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

@keyframes moon-rotation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-20deg);
  }
}

/* star css & animation */
.fa-asterisk {
  position: absolute;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
}

.star1 {
  top: 70px;
  left: 90px;
  animation: star-one 1.2s infinite;
}

.star2 {
  top: 50px;
  right: 110px;
  animation: star-two 1.7s infinite;
}

.star3 {
  top: 180px;
  left: 45px;
  animation: star-three 1.5s infinite;
}

.star4 {
  top: 120px;
  right: 40px;
  font-size: 5px;
  animation: star-five 1.9s infinite;
}

.star5 {
  top: 200px;
  right: 90px;
  font-size: 5px;
  animation: star-five 2s infinite;
}

@keyframes star-one {
  0%,
  100% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes star-two {
  0%,
  100% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes star-three {
  0%,
  100% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes star-four {
  0%,
  100% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes star-five {
  0%,
  100% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

.day-to-night__text {
  font-family: BMJUA;
  font-size: 30px;
  color: white;
  /* margin-left: 15vw; */
  text-align:center;
}
