.room-list {
  height: 500px;
  padding: 50px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  border-radius: 0.3rem;
  border: 3px solid black;
  width: 1200vw;
}

/* 스크롤바 설정 */
.room-list__scroll::-webkit-scrollbar {
  width: 8px;
}

/* 스크롤바 막대 설정 */
.room-list__scroll::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: #fdfcdc;
  border-radius: 10px;
}
